<!DOCTYPE html>
<html lang="rus" class="sr">
  <head>
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" type="image/png" href="assets/favicon.png" >
    <meta name="keywords" content="[Vladislp], [Vladislav Paskevits], пекарня, лиса, кондитерские изделия, домашняя выпечка" >
    <meta name="description" content="[Vladislav Paskevits] | Если устали от магазинной выпечки, мы можем предложить вам из лучших ингредиентов качественную выпечку. " >

    <title>{% block title %} Контакт {% endblock title %} </title>

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='styles/contact.css') }}"
    />

  </head>

  {% extends "base_RUS.html" %}

  {% block content %}

  <body>
    <div class="map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2030.955829356235!2d24.799220915841975!3d59.40044941236051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692eb40ae95bf5d%3A0x5e557f2426b8325c!2sSuurekivi%20tee%2064%2C%20Peetri%2C%2075312%20Harju%20maakond!5e0!3m2!1sru!2see!4v1675779119102!5m2!1sru!2see"
        width="600"
        height="450"
        style="border:2;"
        allowfullscreen
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
      <!-- Container for contact information -->
      <div class="info-container">
        <h2>Контактная информация</h2>
        <p>Адрес: Suurekivi tee 64, Пеэтри, Харьюмаа"</p>
        <br>
        <p>Телефон: +372 5806 6561"</p>
        <br>
        <p>Почта: bakingfoxy@gmail.com"</p>
        <br>
        <p>Часы работы: Понедельник-Пятница 08:00 - 17:00"</p>
        <br>
        <br>
        <p>Если вы желаете заказать у нас, ждем ваш заказ на наш почтовый ящик</p>
      </div>
  </body>

  {% endblock content %}
  
</html>