<!--This template is going to be exact same as base.html-->
<!--And we can override every block that were defined inside base.html-->
{% extends "base.html"%}
<!--If we rename this block called "Home" we should see changes in result-->
<!--Easy way to rename stuff-->
{% block title %}Contact{% endblock %}

{% block content %}

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static',filename='styles/contact.css') }}"
/>

<div class="contact-section">
    <h1>Contact Us</h1>
    <form action="#" method="post">
      <input type="text" name="name" placeholder="Your name">
      <input type="email" name="email" placeholder="Your email">
      <textarea name="message" placeholder="Your message"></textarea>
      <button type="submit">Submit</button>
    </form>
    <div class="contact-info">
      <h2>Visit Us</h2>
      <p>Suurekivi tee 64</p>
      <p>Baking fox</p>
      <h2>Call Us</h2>
      <p>(372) 5806 6561</p>
      <h2>Email Us</h2>
      <p>bakery@email.com</p>
    </div>
  </div>
  
{% endblock %}