<!DOCTYPE html>
<html lang="est">
  <head>
    <meta charset="utf-8" />
    <!--Facebook Open Graph (Google)-->
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Nautige meie pagariäris värskelt küpsetatud tooteid ja maitsvaid hõrgutisi. Klassikalistest sarvesaiadest kuni käsitööleivani – meil on igaühele midagi. Külastage meid juba täna ja rahuldage oma magusaisu!" />
    <meta name="keywords" content="Tere tulemast, Pagariäri, Maiustused, Banaanileib" />
    <meta name="author" content="Vladislav Paskevits" />

    <!--Facebook Open Graph (Facebook)-->
    <meta property="og:title" content="Menu" />
    <meta property="og:type" content="webpage" />
    <meta property="og:image" content="goods" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />

    <title>{% block title %} Meist {% endblock title %} </title>

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/home.css') }}"
    />
  </head>

  {% extends "base_EST.html" %}

  {% block content %}

  <body>
    <div class="container">
        <div class="header">
          <h1>Tervitame teid meie Dreamy Fox Bakery & Cafe</h1>
          <p>Armastusega valmistatud värsked küpsetatud maiuspalad</p>
        </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="bakery-shop-image.jpg" alt="" height="" width="" />
        </div>
        <div class="col-md-6">
          <h2>Meie pagariärist</h2>
          <p>
            Meie pagariäris usume, et küpsetamine on kunstivorm ja viis
            toovad inimeste ellu õnne. Kasutame ainult kõige värskemat
            koostisosad ja olge nende valmistamisel väga ettevaatlik
            meie küpsetised. Alates meie klassikalistest kookidest ja küpsetistest kuni meieni
            uuenduslikud magustoidud, meie kaupluses on igaühele midagi
            pagariäri.
          </p>
          <a href="{{ url_for('views.menu_EST') }}" class="btn btn-primary">Vaadake meie menu</a>
        </div>
      </div>
    </div>

    <div class="featured">
      <h2>Soovitatavad tooted</h2>
      <div class="row">
        <div class="col-md-4">
          <img
            src="https://cdn.pixabay.com/photo/2017/06/30/21/49/bread-2459926_1280.jpg"
            alt="Cake"
            width=""
            height=""
          />
          <h3>Maitsvad koogid</h3>
          <p>
            Meie koogid on valmistatud armastusega ja ainult kõige värskematest koostisosadest. Proovi
            üks täna!
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="https://cdn.pixabay.com/photo/2016/05/10/09/14/cookies-1383304_1280.jpg"
            alt="Pastry"
            width=""
            height=""
          />
          <h3>Helbed küpsetised</h3>
          <p>
            Helbed ja võised – meie küpsetised on ideaalne algus teie päevale.
          </p>
        </div>
        <div class="col-md-4">
          <img
            src="https://cdn.pixabay.com/photo/2018/05/03/14/50/muffins-3371523_1280.jpg"
            alt="Dessert"
            width=""
            height=""
          />
          <h3>Uuenduslikud magustoidud</h3>
          <p>
            Meie magustoidud nihutavad alati võimaliku piire
            küpsetamine.
          </p>
        </div>
    </div>
  </div>

    <div class="footer">
      <p> Autoriõigus © Foxy Bake</p>
    </div>
</body>

{% endblock content %}
</html>
