<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="utf-8" />
    <!--Facebook Open Graph (Google)-->
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="«Зайдите на [название вашего веб-сайта] и откройте для себя мир [цели вашего веб-сайта]. Мы предлагаем [уникальное ценностное предложение] нашей [целевой аудитории], все в одном месте. мыслящих людей, и начните свой путь к [цели] сегодня!»" />
    <meta name="keywords" content="добро пожаловать, Пекарня, Сладости, Банановый хлеб" />
    <meta name="author" content="Владислав Пашкевич" />

    <!--Facebook Open Graph (Facebook)-->
    <meta property="og:title" content="Menu" />
    <meta property="og:type" content="webpage" />
    <meta property="og:image" content="goods" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="" />

    <title>{% block title %} О нас {% endblock title %} </title>

    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='styles/home.css') }}"
    />
  </head>

  {% extends "base_RUS.html" %}

  {% block content %}

  <body>
    <div class="container">
        <div class="header">
          <h1>Мы приведствуем вас в Dreamy Fox Bakery & Cafe</h1>
          <p>Свежая выпечка, приготовленная с любовью</p>
        </div>
    </div>
    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="bakery-shop-image.jpg" alt="" height="" width="" />
          </div>
          <div class="col-md-6">
            <h2>О нашей пекарне</h2>
            <p>
              В нашей пекарне мы верим, что выпечка — это искусство и способ
              принести счастье в жизнь людей. Мы используем только самые свежие
              ингредиентов и проявляйте большую осторожность при изготовлении каждого из
              наша выпечка. От наших классических тортов и пирожных до наших
              инновационные десерты, каждый найдет что-то для себя в нашем
              пекарня.
            </p>
            <a href="{{ url_for('views.menu_RUS') }}" class="btn btn-primary">Посмотреть наше меню</a>
          </div>
        </div>
      </div>

      <div class="featured">
        <h2>Рекомендуемые продукты</h2>
        <div class="row">
          <div class="col-md-4">
            <img
              src="https://cdn.pixabay.com/photo/2017/06/30/21/49/bread-2459926_1280.jpg"
              alt="Cake"
              height=""
              width=""
            />
            <h3>Вкусные Торты</h3>
            <p>
              Наши торты сделаны с любовью и только из самых свежих продуктов. Пытаться
              один сегодня!
            </p>
          </div>
          <div class="col-md-4">
            <img
              src="https://cdn.pixabay.com/photo/2016/05/10/09/14/cookies-1383304_1280.jpg"
              alt="Pastry"
              height=""
              width=""
            />
            <h3>Слоеная выпечка</h3>
            <p>
              Наша слоеная и маслянистая выпечка станет идеальным началом дня.
            </p>
          </div>
          <div class="col-md-4">
            <img
              src="https://cdn.pixabay.com/photo/2018/05/03/14/50/muffins-3371523_1280.jpg"
              alt="Dessert"
              height=""
              width=""
            />
            <h3>Инновационные десерты</h3>
            <p>
              Наши десерты всегда раздвигают границы возможного.
              выпечка.
            </p>
          </div>
      </div>
    </div>

      <div class="footer">
        <p> Авторские права © Foxy Bake</p>
      </div>
  </body>

{% endblock content %}

</html>
