<!DOCTYPE html>
<html lang="est">
    <head>
        <meta charset="utf-8" />
        <!--Facebook Open Graph (Google)-->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="description" content=
                "Nautige meie pagariäris värskelt küpsetatud tooteid ja maitsvaid hõrgutisi. 
                Klassikalistest sarvesaiadest kuni käsitööleivani – meil on igaühele midagi. 
                Külastage meid juba täna ja rahuldage oma magusaisu!" 
        />
        <meta name="keywords" content="HTML, CSS, JavaScript" />
        <meta name="author" content="Vladislav Paskevits" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" type="image/png" href="assets/favicon.png" >

        <!--Facebook Open Graph (Facebook)-->
        <meta property="og:title" content="Menu" />
        <meta property="og:type" content="webpage" />
        <meta property="og:image" content="goods" />
        <meta property="og:url" content="" />
        <meta property="og:description" content="" />
        <title>{% block title %} Menüü {% endblock title %} </title>

        <link rel="stylesheet"
              type="text/css"
              href="{{ url_for('static',filename='styles/menu.css') }}" 
        />
        <script type="text/javascript"
              src="{{ url_for('static', filename='menu.js') }}"
              async>
        </script>
    </head>
    {% extends "base_EST.html" %}

    {% block content %}

        <body>
            <div class="container">
                <div class="header">
                  <h1>Meie menu</h1>
                  <p>Magus</p>
                </div>
            </div>

            <section class="menu-container content-section">
                <div class="shop-items">
                    <div class="shop-item">
                        <span class="shop-item-title">Banaanileib</span>
                        <img class="shop-item-image"
                            height=""
                            width=""
                            alt=""
                            src="https://images.pexels.com/photos/1277202/pexels-photo-1277202.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" />
                        <div class="shop-item-details">
                            <span class="shop-item-price">€6.66</span>
                            <button class="btn btn-primary shop-item-button" type="button">LISA OSTUKORVI</button>
                        </div>
                    </div>
                    <div class="shop-item">
                        <span class="shop-item-title">Šokolaadiküpsis</span>
                        <img class="shop-item-image"
                            height=""
                            width=""
                            alt=""
                            src="https://images.unsplash.com/photo-1532499016263-f2c3e89de9cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" />
                        <div class="shop-item-details">
                            <span class="shop-item-price">€14.99</span>
                            <button class="btn btn-primary shop-item-button"type="button">LISA OSTUKORVI</button>
                        </div>
                    </div>
                </div>
            </section>
            <section class="container content-section">
                <h2 class="section-header">Kontrolli hinda</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">ITEM</span>
                    <span class="cart-price cart-header cart-column">HIND</span>
                    <span class="cart-quantity cart-header cart-column">KOGUS</span>
                </div>
                <div class="cart-items"></div>
                <div class="cart-total">
                    <strong class="cart-total-title">Kokku</strong>
                    <span class="cart-total-price">€0</span>
                </div>
            </section>
        </body>
    {% endblock content %}
</html>
